body {
	background-color: #98CFF7;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.header ul {
	margin-top: -6px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid #98A6B1;
    background-color: #f3f3f3;
	width: 100%;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	font-family: 'Homemade Apple';
	font-size: 110%;
}

.header li a:hover:not(.active) {
    background-color: #7DCEA0;
}

.header li a.active {
    color: white;
    background-color: #7DCEA0;
}
.header img {
	width: 100%;
	height: 120px;
	margin-top: -10px;
}
.home legend {
	padding: 0.2em 0.5em;
	font-family: 'Cabin Sketch';
	font-size: 180%;
	text-align: center;
}
.home fieldset {
	margin-top: 20px;
	border-bottom: 1px solid #98CFF7;
	border-left: 1px solid #98CFF7;
	border-right: 1px solid #98CFF7;
}
.home h1 {
	color: #4B5C68;
	text-align: left;
	font-family: 'Rock Salt';
	font-size: 100%;
}
.home p {
	font-family: 'Marck Script';
	font-size: 120%;
	text-align: left;
}