body {
	background-image: url("bggg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 1;
	padding: 1;
}
.header ul {
	margin-top: -6px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid #98A6B1;
    background-color: #f3f3f3;
	width: 100%;
}
.header li {
    float: left;
}
.header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 10px 90px;
    text-decoration: none;
	font-family: 'Homemade Apple';
	font-size: 110%;
}
.header li a:hover:not(.active) {
    background-color: #7DCEA0;
}
.header li a.active {
    color: white;
    background-color: #7DCEA0;
}
.header img {
	position: relative;
	margin-top: -10px;
}
.home h1 {
	color: #4B5C68;
	text-align: left;
	font-family: 'Rock Salt';
	font-size: 100%;
	margin-top: 50px;
	margin-left: 20px;
}
.home p {
	font-family: 'Love Ya Like A Sister';
	font-size: 120%;
	text-align: left;
	margin-left: 20px;
}
.gallery fieldset {
	margin-top: 20px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.gallery legend {
	padding: 0.2em 0.5em;
	font-family: 'Cabin Sketch';
	font-size: 180%;
	text-align: center;
}
.gallery h1 {
	color: #4B5C68;
	text-align: left;
	font-family: 'Rock Salt';
	font-size: 100%;
	margin-left: 20px;
}
.gallery video {
	margin-left: 58%;
	margin-top: -1%;
	position: relative;
}
.gallery p {
	font-family: 'Love Ya Like A Sister';
	font-size: 100%;
	margin-left: 58%;
}
.contact fieldset {
	margin-top: 20px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.contact legend {
	padding: 0.2em 0.5em;
	font-family: 'Cabin Sketch';
	font-size: 180%;
	text-align: center;
}
.contact h1 {
	color: #4B5C68;
	text-align: left;
	font-family: 'Rock Salt';
	font-size: 100%;
	margin-left: 20px;
}
.contact p {
	font-family: 'Love Ya Like A Sister';
	font-size: 110%;
	margin-left: 20px;
}
.about fieldset {
	margin-top: 20px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.about legend {
	padding: 0.2em 0.5em;
	font-family: 'Cabin Sketch';
	font-size: 180%;
	text-align: center;
}
.about h1 {
	color: #4B5C68;
	text-align: left;
	font-family: 'Rock Salt';
	font-size: 100%;
	margin-left: 20px;
}
.more fieldset {
	margin-top: 20px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.more legend {
	padding: 0.2em 0.5em;
	font-family: 'Cabin Sketch';
	font-size: 180%;
	text-align: center;
}
.more h1 {
	color: #4B5C68;
	text-align: left;
	font-family: 'Rock Salt';
	font-size: 100%;
	margin-left: 20px;
}
.more p {
	font-family: 'Love Ya Like A Sister';
	font-size: 110%;
	margin-left: 20px;
}
.dumdum img {
	position: relative;
	margin-left: 5%;
	margin-top: 3%;
	display: block;
	float: left;
	clear: left;
}
.dumdum h1{
	text-align: left;
	font-family: 'Cabin Sketch';
	font-size: 120%;
	margin-left: 4%;
	position: absolute;
	display: block;
}
.dumdum p {
	position: absolute;
	display: block;
	margin-left: 8%;
	font-family: 'Cabin Sketch';
	font-size: 100%;
	text-align: left;
	margin-top: 18%;
}
.beltran img {
	position: absolute;
	margin-left: 23%;
	margin-top: 3%;
	display: block;
}
.beltran h1{
	text-align: middle;
	font-family: 'Cabin Sketch';
	font-size: 120%;
	margin-left: 25%;
	position: absolute;
	display: block;
}
.beltran p {
	position: absolute;
	display: block;
	margin-left: 26%;
	font-family: 'Cabin Sketch';
	font-size: 100%;
	text-align: middle;
	margin-top: 18%;
}
.goyo img {
	position: absolute;
	margin-left: 42%;
	margin-top: 3%;
	display: block;
}
.goyo h1{
	text-align: middle;
	font-family: 'Cabin Sketch';
	font-size: 120%;
	margin-left: 45%;
	position: absolute;
	display: block;
}
.goyo p {
	position: absolute;
	display: block;
	margin-left: 45%;
	font-family: 'Cabin Sketch';
	font-size: 100%;
	text-align: middle;
	margin-top: 18%;
}
.ocado img {
	width: 15%;
	height: 30%;
	position: absolute;
	margin-left: 41%;
	margin-top: 3%;
	display: inline-block;
}
.ocado h1{
	text-align: center;
	font-family: 'Cabin Sketch';
	font-size: 120%;
	margin-left: 43%;
	position: absolute;
	display: inline-block;
}
.ocado p {
	position: absolute;
	display: block;
	margin-left: 45%;
	font-family: 'Cabin Sketch';
	font-size: 100%;
	text-align: left;
	margin-top: 18%;
	display: inline-block;
}
.rimando img {
	position: absolute;
	margin-left: 60%;
	margin-top: 3%;
	display: inline-block;
}
.rimando h1{
	text-align: right;
	font-family: 'Cabin Sketch';
	font-size: 120%;
	margin-left: 61%;
	position: absolute;
	display: inline-block;
}
.rimando p {
	position: absolute;
	display: block;
	margin-left: 64%;
	font-family: 'Cabin Sketch';
	font-size: 100%;
	text-align: right;
	margin-top: 18%;
	display: inline-block;
}
.container {
	display: inline-block;
	margin-left: 1%;
	margin-top: -90%;
}
.container a  {
   color: #000;
   transition: color 0.7s ease-in 0.3s;
}

.container a:hover {
   color: #fff;
}
.container div {
   animation: move 1s ease-in-out 0.5s 2 alternate;
   -moz-animation: move 1s ease-in-out 0.5s 2 alternate;
   -webkit-animation: move 1s ease-in-out 0.5s 2 alternate;	
 
}
@keyframes move {
   0% { transform: translateX(0); }
   100% { transform: translateX(100px); }
}

@keyframes move {
   0% { transform: translateX(0); }
   50% { transform: translateX(20px); }
   100% { transform: translateX(100px); }
}
#slider {
   background: #000;
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   height: 320px;
   width: 680px;
   margin: 40px auto 0;
   overflow: visible;
   position: relative;
}
#mask {
   overflow: hidden;
   height: 320px;
}
#slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slider li {
   width: 680px;
   height: 320px; 
   position: absolute;
   top: -325px; 
   list-style: none;
}
#slider li.firstanimation {
   animation: cycle 25s linear infinite;
}

#slider li.secondanimation {
   animation: cycletwo 25s linear infinite;
}

#slider li.thirdanimation {
   animation: cyclethree 25s linear infinite;
}

#slider li.fourthanimation {
   animation: cyclefour 25s linear infinite;
}

#slider li.fifthanimation {
   animation: cyclefive 25s linear infinite;
}
@keyframes cycle {
   0%  { top: 0px; } 
   4%  { top: 0px; }
   16% { top: 0px; opacity:1; z-index:0; } 
   20% { top: 325px; opacity: 0; z-index: 0; }
   21% { top: -325px; opacity: 0; z-index: -1; }
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; }
   100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { top: -325px; opacity: 0; }
   16% { top: -325px; opacity: 0; }
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }
   36% { top: 0px; opacity: 1; z-index: 0; }
   40% { top: 325px; opacity: 0; z-index: 0; }
   41% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
   0%  { top: -325px; opacity: 0; }
   36% { top: -325px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 325px; opacity: 0; z-index: 0; }
   61% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
   0%  { top: -325px; opacity: 0; }
   56% { top: -325px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 325px; opacity: 0; z-index: 0; }
   81% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
   0%  { top: -325px; opacity: 0; }
   76% { top: -325px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: 325px; opacity: 0; z-index: 0; }
}

.container .progress-bar {
   position: relative;
   top: -5px;
   width: 680px;
   height: 5px;
   background: #000;
   animation: fullexpand 25s ease-out infinite;
}
@keyframes fullexpand {
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}
#slider .tooltip {
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   position: relative;
   bottom: 75px;
   left: -320px;
}
#slider .tooltip h1 {
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}
#slider .tooltip {
…
   transition: all 0.3s ease-in-out;
}
#slider li#first: hover .tooltip,
#slider li#second: hover .tooltip,
#slider li#third: hover .tooltip,
#slider li#fourth: hover .tooltip,
#slider li#fifth: hover .tooltip {
   left: 0px;
}
#slider: hover li,
#slider: hover .progress-bar {
   animation-play-state: paused;
}
.arrowup img {
	position: fixed;
	right: 0;
	bottom:5%;
	margin: 0;
	padding: 0;
}